<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:4200/"><img src="./assets/Onefootball-green-header.png" alt="Onefootball logo and home page"></a>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    English
  </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Argentina</a>
        <a class="dropdown-item" href="#">France</a>
        <a class="dropdown-item" href="#">Mexico</a>
      </div>
  </div>


</nav>
