<div class="header">
  <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4" style="text-align:left;">
        Add logo here...
      </div>
        <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:pink; text-align:center;">
        <form action="" class="header-search header-search-desktop ng-untouched ng-pristine ng-valid" novalidate="">
        <input id="search" name="search" type="text" placeholder="Search for teams and competitions" size="40">
        </form>
        </div>

    </div>


  <!-- <header>
    <h3>Test header</h3>
  </header> -->

</div>
