.header {
  height: 80px;
  margin: 15px;
  font-size: 20px;
  font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#input-form {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  position: auto;
}
