.header {
  background-color: #ffffff;
  height: 80px;
  margin: 20px;
  font-size: 18px;
}

.col-md-5 {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  position: auto;
}
