<div class="row">
  <div class="col-md-2">
    <a class="navbar-brand" routerLink="news"><img src="./assets/Onefootball-green-header.png" alt="Onefootball logo and home page"></a>
  </div>

  <div class="col-md-4">
    <div class="dropdown show">
      <a class="dropdown-toggle" href="http://localhost:4200/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="">Welcome</a>
          <a class="dropdown-item" routerLink="news">News</a>
          <a class="dropdown-item" routerLink="admin">Admin</a>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="  Search for teams and competitions">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>

</div>
