<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3"><b>About Onefootball</b></div>
      <div class="col-md-5"><b>Legal</b></div>
      <div class="col-md-4"><b>Download</b></div>
    </div>
    <div class="row">
      <div class="col-md-3">OneFootball Network</div>
      <div class="col-md-5">Imprint</div>
      <div class="col-md-4">Apple and Google Play Icons</div>
    </div>
    <div class="row">
      <div class="col-md-3">Company</div>
      <div class="col-md-5">Private Policy</div>
      <div class="col-md-4">Microsoft Icon</div>
    </div>
    <div class="row">
      <div class="col-md-3">Careers</div>
      <div class="col-md-5">Terms and Conditions</div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-3">Contact</div>
      <div class="col-md-5">Licenses</div>
      <div class="col-md-4"><b>Social</b></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5"></div>
      <div class="col-md-4">Social Icons</div>
    </div>
    <div class="row">
      <div class="col-md-12">© Onefootball – We tell the world's football stories</div>
    </div>
  </div>
</footer>
