footer {
  background-color: #f0f2f5;
  font-size: 18px;
}

.container {
  max-width: 1300px;
}

.col-md-3 .col-md-4 {
  max-height: 20px;
}

.col-md-5 {
  max-width: 500px;
  max-height: 15px;
}

.col-md-12 {
  text-align: center;
  height: 50px;
}
