<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <b>About Onefootball</b>
      </div>
      <div class="col-md-4">
        <b>Legal</b>
      </div>
      <div class="col-md-5">
        <b>Download</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="text-gray-dark" id="footer-link-network" target="_blank" href="https://onefootball.com/network">Onefootball Network</a>
      </div>
      <div class="col-md-4">
        <a class="text-gray-dark" id="footer-link-imprint" target="_blank" href="https://company.onefootball.com/imprint">Imprint</a>
      </div>
      <div class="col-md-5">
        <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-ios" id="footer-link-apple" target="_blank"><img alt="App Store" title="App Store" src="./assets/appstore-download-150pixels.png"></a>
        <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-android" id="footer-link-google" target="_blank"><img alt="Google Play" title="Google Play" src="./assets/google-play-download-150pixels.png"></a>
        <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-windows" id="footer-link-windows" target="_blank"><img alt="Windows Store" title="Windows Store" src="./assets/microsoft-download-150pixels.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="text-gray-dark" id="footer-link-company" target="_blank" href="https://company.onefootball.com/">Company</a>
      </div>
      <div class="col-md-4">
        <a class="text-gray-dark" id="footer-link-privacy" target="_blank" href="https://company.onefootball.com/privacy-policy">Privacy Policy</a></div>
      <div class="col-md-5">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="text-gray-dark" id="footer-link-careers" target="_blank" href="https://company.onefootball.com/careers">Careers</a>
      </div>
      <div class="col-md-4">
        <a class="text-gray-dark" id="footer-link-tos" target="_blank" href="https://company.onefootball.com/terms-and-conditions">Terms and Conditions</a>
      </div>
      <div class="col-md-45">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="text-gray-dark" id="footer-link-contact" target="_blank" href="https://company.onefootball.com/contact">Contact</a>
      </div>
      <div class="col-md-4"><a class="text-gray-dark" id="footer-link-licenses" href="/en/licenses">Licenses</a>
      </div>
      <div class="col-md-5"><b>Social</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-5">
        <a class="footer__links text-gray-dark" id="footer-link-facebook" target="_blank" href="https://www.facebook.com/onefootball">
        <img alt="Facebook" title="Facebook" src="./assets/black-facebook-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-twitter" target="_blank" href="https://twitter.com/OnefootballEN">
        <img alt="Twitter" title="Twitter" src="./assets/black-twitter-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-youtube" target="_blank" href="https://www.youtube.com/channel/UC2-0sEOYbQFuaURd_AU6Krg">
        <img alt="YouTube" title="Youtube" src="./assets/black-youtube-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-snapchat" target="_blank" href="https://www.snapchat.com/add/onefootballsnap">
        <img alt="Snapchat" title="Snapchat" src="./assets/black-snapchat-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-instagram" target="_blank" href="https://www.instagram.com/onefootball/">
        <img alt="Instagram" title="Instagram" src="./assets/black-ig-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-soundcloud" target="_blank" href="https://soundcloud.com/onefootball">
        <img alt="Soundcloud" title="Soundcloud" src="./assets/black-soundcloud-icon-60pixels.png"></a>
        <a class="footer__links text-gray-dark" id="footer-link-audioboom" target="_blank" href="https://audioboom.com/channel/onefootball">
        <img alt="Audioboom" title="Audioboom" src="./assets/black-audioboom-icon-60pixels.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-12">© Onefootball – We tell the world's football stories
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a class="text-muted" routerLink="admin">Admin</a>
      </div>
    </div>
  </div>
</footer>
