<footer class="bg-gray-lightest mt-xxxl">
  <div class="container pt-xxl pb-xxl">
    <div class="row">
      <div class="mb-lg col-md-12 col-lg-6">
        <h2 class="h6 pb-md pt-md text-gray-blue m-0">About Onfootball</h2>
        <ul class="list-unstyled mb-0 row">
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
              <a class="text-gray-dark" id="footer-link-network" target="_blank" href="https://onefootball.com/network">Onefootball Network</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
              <a class="text-gray-dark" id="footer-link-company" target="_blank" href="https://company.onefootball.com/">Company</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
              <a class="text-gray-dark" id="footer-link-careers" target="_blank" href="https://company.onefootball.com/careers">Careers</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
              <a class="text-gray-dark" id="footer-link-contact" target="_blank" href="https://company.onefootball.com/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="mb-lg col-md-12 col-lg-11">
        <h2 class="h6 pb-md pt-md text-gray-blue m-0">Legal</h2>
        <ul class="list-unstyled mb-0 row">
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
            <a class="text-gray-dark" id="footer-link-imprint" target="_blank" href="https://company.onefootball.com/imprint">Imprint</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
            <a class="text-gray-dark" id="footer-link-privacy" target="_blank" href="https://company.onefootball.com/privacy-policy">Privacy Policy</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
            <a class="text-gray-dark" id="footer-link-tos" target="_blank" href="https://company.onefootball.com/terms-and-conditions">Terms and Conditions</a>
          </li>
          <li class="col-12 col-md-24 col-lg-24 mb-lg">
            <a class="text-gray-dark" id="footer-link-licenses" href="/en/licenses">Licenses</a>
          </li>
        </ul>
      </div>
      <div class="col-24 col-lg-7">
        <div class="row">
          <div class="mb-lg col-24 col-md-12 col-lg-24">
        <h2 class="h6 pb-md pt-md text-gray-blue m-0">Download</h2>
        <ul class="list-unstyled d-flex flex-row flex-wrap mb-0">
          <li class="my-2 mr-md">
            <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-ios" id="footer-link-apple" target="_blank">
                <img alt="App Store" title="App Store" src="./assets/appstore-download-150pixels.png">
            </a>
          </li>
          <li class="my-2 mr-md">
            <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-android" id="footer-link-google" target="_blank">
                <img alt="Google Play" title="Google Play" src="./assets/google-play-download-150pixels.png">
            </a>
          </li>
          <li class="my-2">
            <a class="footer__links text-gray-dark" href="http://1.ftb.al/download-onefootball-windows" id="footer-link-windows" target="_blank">
                <img alt="Windows Store" title="Windows Store" src="./assets/microsoft-download-150pixels.png">
            </a>
          </li>
        </ul>
      </div>
          <div class="mb-lg col-24 col-md-12 col-lg-24">
            <h2 class="h6 pb-md pt-md text-gray-blue m-0">Social</h2>
            <ul class="list-unstyled d-flex flex-row flex-wrap justify-content-between mb-0">
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-facebook" target="_blank" href="https://www.facebook.com/onefootball">
                <img alt="FB" title="Facebook" src="assets/img/app-footer/social-facebook.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-twitter" target="_blank" href="https://twitter.com/OnefootballEN">
                <img alt="TW" title="Twitter" src="assets/img/app-footer/social-twitter.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-youtube" target="_blank" href="https://www.youtube.com/channel/UC2-0sEOYbQFuaURd_AU6Krg">
                <img alt="YT" title="Youtube" src="assets/img/app-footer/social-youtube.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-snapchat" target="_blank" href="https://www.snapchat.com/add/onefootballsnap">
                <img alt="SN" title="Snapchat" src="assets/img/app-footer/social-snapchat.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-instagram" target="_blank" href="https://www.instagram.com/onefootball/">
                <img alt="IN" title="Instagram" src="assets/img/app-footer/social-instagram.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-soundcloud" target="_blank" href="https://soundcloud.com/onefootball">
                <img alt="SC" title="Soundcloud" src="assets/img/app-footer/social-soundcloud.svg?rev=b6234fc3">
                </a>
              </li>
              <li class="m-1">
                <a class="footer__links text-gray-dark" id="footer-link-audioboom" target="_blank" href="https://audioboom.com/channel/onefootball">
                <img alt="AB" title="Audioboom" src="assets/img/app-footer/social-audioboom.svg?rev=b6234fc3">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-24 text-center text-gray-blue text-sm pt-md pb-md">
        <p class="m-0">© Onefootball – We tell the world's football stories</p>
      </div>
    </div>
  </div>
</footer>
