h3, h5 {
  text-align: center;
}

.text-muted {
  text-align:left;
}

.card {
  height: 325px;
  padding: 0 0 0 0;
  border: 0 0 0 0;
}

.text-white {
  text-align: text-bottom;
}

.card-body {
  padding: 0 0 0 0;
}

.col-md-5 {
  text-align: center;
  padding: 0 0 25px 0;
  width: 550px;
}

.col-md-7 {
  padding: 0 0 25px 0;
}

.col-md-12 {
  padding-bottom: 25px;
}
