<div class="container">

  <div class="popular-pages">
    <div class="row">
      <div class="col-md-12">
        <h4>Popular Pages</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #2</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #3</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #2</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #3</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="top-news">
    <div class="row">
      <div class="col-md-12">
        <h4>Top News</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #1</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #2</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #3</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #4</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #5</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="trending-videos">
    <div class="row">
      <div class="col-md-12">
        <h4>Trending videos</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #1</h5>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #2</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #3</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #4</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #5</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


</div>
