<div class="container">

  <div class="popular-pages">
    <div class="row">
      <div class="col-md-12">
        <h4>Popular Pages</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #2</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #2</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <h3>Sample article search</h3>
  <div *ngFor="let article of articles">
    <h4>{{article.title}}</h4>
    <img src="{{article.imagePath}}" alt="loop of articles" width="300">
  </div>
  <br>


<div class="top-news">
  <div class="row">
    <div class="col-md-12">
      <h4>Top News</h4>
    </div>
  </div>

    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <img class="card-img-left" src="{{articles[0].imagePath}}" height="auto" width="700">
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{articles[0].title}}</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">{{articles[0].source}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #2</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #3</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #4</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top News #5</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>


</div>
  <br>
  <br>




  <div class="trending-videos">
    <div class="row">
      <div class="col-md-12">
        <h4>Trending videos</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #1</h5>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #2</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #3</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #4</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #5</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

</div>
