h3, h5 {
  text-align: center;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

/* h5, h3 {
  text-align: center; */
/* } */

.card-body {
  padding: 0 0 0 0;
}

.col-md-5 {
  text-align: justify;
  padding: 0 0 25px 0;
}

.col-md-7 {
  padding: 0 0 25px 0;
}

.col-md-12 {
  padding-bottom: 25px;
}
