<div class="container">

  <div class="popular-pages">
    <div class="row">
      <div class="col-md-12">
        <h4>Popular Pages</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">League #2</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-text">Team #2</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


<div class="top-news">
  <div class="row">
    <div class="col-md-12">
      <h4>Top News</h4>
    </div>
  </div>

    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <img class="card-img-left" src="{{articles[0].imagePath}}" height="325" width="670">
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card text-white bg-dark">
          <div class="card-body">
              <h3 class="card-title">{{articles[0].title}}</h3>
                <p class="card-text"><small class="text-muted">{{articles[0].source}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="{{articles[1].imagePath}}" alt="card image cap">
          <div class="card-body">
              <h4 class="card-title">{{articles[1].title}}</h4>
              <p class="card-text"><small class="text-muted">{{articles[1].source}}</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-dark">
            <img class="card-img-top" src="{{articles[2].imagePath}}" alt="card image cap">
            <div class="card-body">
                <h4 class="card-title">{{articles[2].title}}</h4>
                <p class="card-text"><small class="text-muted">{{articles[2].source}}</small></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="{{articles[3].imagePath}}" alt="card image cap">
          <div class="card-body">
              <h4 class="card-title">{{articles[3].title}}</h4>
              <p class="card-text"><small class="text-muted">{{articles[3].source}}</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="{{articles[4].imagePath}}" alt="card image cap">
          <div class="card-body">
              <h4 class="card-title">{{articles[4].title}}</h4>
              <p class="card-text"><small class="text-muted">{{articles[4].source}}</small></p>
          </div>
        </div>
      </div>
    </div>


</div>
  <br>
  <br>




  <div class="trending-videos">
    <div class="row">
      <div class="col-md-12">
        <h4>Trending videos</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #1</h5>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #2</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #3</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #4</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Top Video #5</h5>
              <p class="card-text">More soccer news.</p>
              <p class="card-text"><small class="text-muted">News source</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

</div>
